{% extends "inventory/base.html" %}
{% load i18n %}
{% block page_heading %}
    All
    <small>Pages</small>
{% endblock page_heading %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>
                <a class="btn btn-sm btn-info btn-flat" href="{% url "cms:page-new" %}">
                    <i class="fa fa-plus"></i>
                    {% trans "Add Page" %}
                </a>
            </p>

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Pages" %}</h3>
                </div>

                <div class="box-body no-padding">
                    <table class="table table-condensed table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Published</th>
                            <th>Parent</th>
                            <th>Menu Order</th>
                            <th>author</th>
                            <th>created on</th>
                            <th colspan="3" class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>


                        {% for page in page_list %}
                            <tr>
                                <td>
                                    <a href="{% url "cms:page-edit" page.slug %}">
                                        <small>{{ parent }} ></small>
                                        {{ page.title }}
                                    </a>
                                </td>
                                <td>
                                    {{ page.get_publish_display }}
                                </td>
                                <td>
                                    {{ page.parent }}
                                </td>
                                <td>
                                    {{ page.order }}
                                </td>
                                <td>
                                    {{ page.author }}
                                </td>
                                <td>
                                    {{ page.created_on }}
                                </td>
                                <td>
                                    <i class="fa fa-pencil-square-o"></i>
                                    <a href="{% url "cms:page-edit" page.slug %}">
                                        {% trans "Edit" %}
                                    </a>
                                </td>
                                <td>
                                    <i class="fa fa-times-circle-o"></i>
                                    <a href="{% url "cms:page-delete" page.slug %}">{% trans "Delete" %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.col-md-12 -->
        </div>
    </div>
    <!-- /.row -->
{% endblock content %}